$primary-title-color: #333333
$primary-text-color: #828282
$primary-background-color: #f5f5fa

$text-grey-color: #9e9e9e
$svg-purple-color: #5533ea
$svg-grey-color: #bdbdbd

$button-purple-color: #57419d
$button-white-color: #ffffff