@use "../style/variables" as var

.sec-info
    background-repeat: no-repeat
    background-size: 100%
    background-image: url("../public/background.svg")
    padding-top: 380px

    &_img
        right: 20px
        top: 131px
        height: 250px
        position: absolute

    &_art-info
        background-color: var.$primary-background-color
        padding: 1px 20px
        border-top-left-radius: 25px
        border-top-right-radius: 25px

    &_div-loc
        display: flex
        align-items: center
        gap: 7px