@use "../style/variables" as var
    
.sec-edit
    background-color: var.$primary-background-color
    position: fixed
    width: 100%
    top: 0
    transition: all 0.5 ease

    &_form-edit
        display: flex
        flex-direction: column
        gap: 15px
        padding: 20px 30px 170px 30px

    &_input
        all: unset
        padding: 10px
        border-radius: 10px
        background-color: var.$button-white-color
        box-shadow: var.$shadow-color 5px 5px 15px, var.$button-white-color -10px -10px 20px 

    &_btn
        all: unset
        cursor: pointer
        margin-top: 30px 
        font-weight: 500
        font-size: 16px
        text-align: center
        background-color: var.$button-purple-color
        color: var.$button-white-color
        padding: 1.5vh 25vw
        border-radius: 17vw
        box-shadow: var.$button-purple-shadow-color 10px 10px 10px, var.$button-white-color -10px -10px 10px 


    &_btn-arrow
        all: unset
        cursor: pointer
        margin-top: 30px 
        font-weight: 500
        font-size: 16px
        text-align: center
        background-color: var.$primary-background-color
        color: var.$svg-grey-color
        padding: 1.5vh 1.5vh
        border-radius: 17vw
        box-shadow: var.$button-purple-shadow-color 10px 10px 10px, var.$button-white-color -10px -10px 10px


    &_controlers
        display: flex
        justify-content: space-around


.sec-edit.fold-out 
    animation: foldUp 1s ease forwards
    


@keyframes foldUp
    from 
        top: 0 
    to  
        top: -100vh 
        

.txt-short 
    height: 60px

.txt-long 
    height: 100px